dist/
node_modules/
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
.idea
.vscode


/generated/prisma
.env

# docker compose files
docker-compose.yml
docker-compose.*.yml
!docker-compose.example.yml
!deploy/docker-compose*.yml

# Python virtual environments
venv/
.venv/
env/
python-venv/
**/venv/
**/.venv/
**/env/

#python
